

{% extends "partials/main_template.html" %}
{% load render_partial %}
{% load humanize %}
{% block title %}فروشگاه آیکو{% endblock title %}
{% block content %}

{% comment %} # این رو باید بگونه تغییر بدیم که گروه تبدیل به برند بشه    {% endcomment %}

            <div class="block-categories__list">
                {% for group in product_groups %}
                <div class="block-categories__item category-card category-card--layout--compact">
                    <div class="category-card__body">
                        <div class="category-card__image">
                            <a href="">
                                <img src="{{media_url}}{{group.image_name}}" alt="">
                            </a>
                        </div>
                        <div class="category-card__content">
                            <div class="category-card__name"><a href="">{{group.group_title}}</a></div>
                            <div class="category-card__products">{{group.products_of_groups.all|length}}</div>
                            {% comment %} brand
                            <div class="category-card__name"><a href="">{{product.brand}}</a></div>
                            <div class="category-card__products">{{product.products_of_groups.all|length}}</div> {% endcomment %}

                          
                        </div>
                    </div> 
                </div>
                {% endfor %}
                <a href="{% url 'products:product_groups' %}">همه</a>
            </div>
{% endblock content %}

