{% load humanize %}

{% if type == 1 %}
<div class="product-card" style="width: 200px !important; margin-left: 12px;">
    <div class="product-card__image">
        <a href="{{product.get_absolute_url}}">
            <img src="{{ media_url }}{{ product.image_name }}" alt=""/>
        </a>
    </div>
    <div class="product-card__info">
        <div class="product-card__name">
            <a href="{{product.get_absolute_url}}">
                {# --- Start of Change --- #}
                {% if headline %}
                    {{ headline|safe }}
                {% else %}
                    {{ product.product_name }}
                {% endif %}
                {# --- End of Change --- #}
            </a>
             <div style="font-size: 10px; background-color: #eee; padding: 2px; text-align: left; direction: ltr;">
        Rank: {{ product.rank|floatformat:4 }} <br>
        Sim: {{ product.similarity|floatformat:4 }}
    </div>
        </div>
    </div>
    <div class="product-card__actions">
        {% if product.get_number_in_warehouse <= 0 %}
            <span style="color: #c13e4bff;">اتمام موجودی</span>
        {% else %}
            {% if product.price > product.get_price_by_discount %}
                <div class="product-card__charm_prices"><del>{{ product.price|intcomma }} تومان </del></div>
                <div class="product-card__charm_prices">{{ product.get_price_by_discount|intcomma }} تومان </div>
            {% else %}
                <div class="product-card__charm_prices">{{ product.price|intcomma }} تومان </div>
            {% endif %}
        {% endif %}

        <div class="product-card__buttons">
            {% if product.get_number_in_warehouse > 0 %}
                <button class="btn btn-primary product-card__addtocart" type="button" onclick="add_to_shop_cart({{ product.id }}, 1)">افزودن به سبد</button>
            {% endif %}

            {% if user.is_authenticated %}
                <button id="favorite-btn-{{ product.id }}" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button"
                        data-product-id="{{ product.id }}"
                        onclick="toggleFavorite({{ product.id }})">
                    {% if product.get_user_favorite %}
                        <i class="fa fa-heart favorited-icon"></i>
                    {% else %}
                        <i class="fa fa-heart-broken unfavorited-icon"></i>
                    {% endif %}
                    <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                </button>
            {% endif %}
        </div>
    </div>
</div>

{% elif type == 2 %}
<div class="product-card" style="width: 200px !important; margin-left: 12px;">
    <div class="product-card__image">
        <a href="{{product.get_absolute_url}}">
            <img src="{{ media_url }}{{ product.image_name }}" alt=""/>
        </a>
    </div>
    <div class="new-badge">جدید</div>
    <div class="product-card__info">
        <div class="product-card__name">
            <a href="{{product.get_absolute_url}}">
                {# --- Start of Change --- #}
                {% if headline %}
                    {{ headline|safe }}
                {% else %}
                    {{ product.product_name }}
                {% endif %}
                {# --- End of Change --- #}
            </a>
        </div>
    </div>
    <div class="product-card__actions">
        {% if product.get_number_in_warehouse <= 0 %}
            <span style="color: #c13e4bff;">اتمام موجودی</span>
        {% else %}
            {% if product.price > product.get_price_by_discount %}
                <div class="product-card__charm_prices"><del>{{ product.price|intcomma }} تومان </del></div>
                <div class="product-card__charm_prices">{{ product.get_price_by_discount|intcomma }} تومان </div>
            {% else %}
                <div class="product-card__charm_prices">{{ product.price|intcomma }} تومان </div>
            {% endif %}
        {% endif %}

        <div class="product-card__buttons">
            {% if product.get_number_in_warehouse > 0 %}
                <button class="btn btn-primary product-card__addtocart" type="button" onclick="add_to_shop_cart({{ product.id }}, 1)">افزودن به سبد</button>
            {% endif %}
            
            {% if user.is_authenticated %}
                <button id="favorite-btn-{{ product.id }}" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button"
                        data-product-id="{{ product.id }}"
                        onclick="toggleFavorite({{ product.id }})">
                    {% if product.get_user_favorite %}
                        <i class="fa fa-heart favorited-icon"></i>
                    {% else %}
                        <i class="fa fa-heart-broken unfavorited-icon"></i>
                    {% endif %}
                    <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                </button>
            {% endif %}
{% comment %} 
            <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                <i class="fa fa-shopping-cart"></i>
                <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
            </button> {% endcomment %}
        </div>
    </div>
</div>

{% elif type == 3 %}
<div class="products-list__item">
    <div class="product-card">
        <div class="product-card__badges-list">
            <div class="product-card__badge product-card__badge--new">جدید</div>
        </div>
        <div class="product-card__image">
            <a href="{{ product.get_absolute_url }}">
                <img src="{{ media_url }}{{ product.image_name }}" alt="" />
            </a>
        </div>
        <div class="product-card__info">
            <div class="product-card__name">
                <a href="{{ product.get_absolute_url }}">
                    {# --- Start of Change --- #}
                    {% if headline %}
                        {{ headline|safe }}
                    {% else %}
                        {{ product.product_name }}
                    {% endif %}
                    {# --- End of Change --- #}
                </a>
            </div>
        </div>
        <div class="product-card__actions">
            {% if product.get_number_in_warehouse <= 0 %}
                <div class="product-card__availability">
                    موجودی: <span class="text-danger">اتمام موجودی</span>
                </div>
            {% else %}
                <div class="product-card__availability">
                    موجودی: <span class="text-success">موجود در انبار</span>
                </div>
                {% if product.price > product.get_price_by_discount %}
                    <div class="product-card__charm_prices"><del>{{ product.price|intcomma }} تومان </del></div>
                    <div class="product-card__charm_prices">{{ product.get_price_by_discount|intcomma }} تومان </div>
                {% else %}
                    <div class="product-card__charm_prices">{{ product.price|intcomma }} تومان </div>
                {% endif %}
            {% endif %}

            <div class="product-card__buttons">
                {% if product.get_number_in_warehouse > 0 %}
                    <button class="btn btn-primary product-card__addtocart" type="button" onclick="add_to_shop_cart({{ product.id }}, 1)">افزودن به سبد</button>
                    <button class="btn btn-secondary product-card__addtocart product-card__addtocart--list" type="button" onclick="add_to_shop_cart({{ product.id }}, 1)">افزودن به سبد</button>
                {% endif %}
                
                {% if user.is_authenticated %}
                    <button id="favorite-btn-{{ product.id }}" class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button"
                            data-product-id="{{ product.id }}"
                            onclick="toggleFavorite({{ product.id }})">
                        {% if product.get_user_favorite %}
                            <i class="fa fa-heart favorited-icon"></i>
                        {% else %}
                            <i class="fa fa-heart-broken unfavorited-icon"></i>
                        {% endif %}
                        <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                    </button>
                {% endif %}

                {% comment %} <button class="btn btn-light btn-svg-icon btn-svg-icon--fake-svg product-card__wishlist" type="button">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="fake-svg-icon fake-svg-icon--wishlist-16"></span>
                </button> {% endcomment %}
            </div>
        </div>
    </div>
</div>
{% endif %}


