{% extends 'main_template.html' %}
{% load humanize %}
{% load render_partial %}
{% load static %} {# Make sure this is loaded if you use static files #}

{% block titile %} فاکتور سفارش{% endblock titile %}

{% block content %}
<div class="site">
    <div class="site__body">
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">خانه</a> /</li>
                            <li class="breadcrumb-item active" aria-current="page">پرداخت</li>
                        </ol>
                    </nav>
                </div>
                <div class="page-header__title">
                    <h1>پرداخت</h1>
                </div>
            </div>
        </div>

        <div class="checkout block">
            <div class="container">
                <div class="row">
                    {# This JavaScript block will continue to display toasts #}
                    {% if messages %}
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                {% for message in messages %}
                                    let messageType = 'success'; 
                                    {% if message.tags == 'error' %}
                                        messageType = 'error';
                                    {% elif message.tags == 'warning' %}
                                        messageType = 'error'; 
                                    {% elif message.tags == 'info' %}
                                        messageType = 'success'; 
                                    {% endif %}
                                    showToast("{{ message|escapejs }}", messageType);
                                {% endfor %}
                            });
                        </script>
                    {% endif %}
                    
                    {# ADD THIS BLOCK TO RENDER MESSAGES IN HTML #}
                    {% if messages %}
                        <div class="col-12 mb-3"> {# This div ensures the messages take full width and have some bottom margin #}
                            <ul class="list-unstyled"> {# Using Bootstrap's list-unstyled for basic styling #}
                                {% for message in messages %}
                                    <li class="alert alert-{{ message.tags }} text-center" role="alert">
                                        {{ message }}
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    {# END OF NEW BLOCK #}

                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="card mb-lg-0">
                            <div class="card-body">
                                <h3 class="card-title">جزئیات پرداخت</h3>
                                <form action="{% url "orders:checkout_order" order_id=order.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="checkout-first-name">نام</label>
                                            {{form.name}}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="checkout-last-name">نام خانوادگی</label>
                                            {{form.family}}
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="checkout-email">آدرس ایمیل</label>
                                            {{form.email}}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="checkout-phone">تلفن</label>
                                            {{form.phone_number}}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="checkout-street-address">آدرس</label>
                                        {{form.address}}
                                    </div>

                                    <div class="card-divider"></div>
                                    
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="checkout-comment">توضیحات سفارش <span class="text-muted">(اختیاری)</span></label>
                                            {{form.description}}
                                        </div>
                                    </div>
                                    <div class="payment-methods">
                                        <ul class="payment-methods__list">
                                            <li class="payment-methods__item">
                                                <label class="payment-methods__item-header">
                                                    <span class="payment-methods__item-radio input-radio">
                                                        <span class="input-radio__body">
                                                            <input class="input-radio__input" name="checkout_payment_method" type="radio">
                                                        </span>
                                                    </span>
                                                    {{form.payment_type}}
                                                </label>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="checkout__agree form-group">
                                        <div class="form-check">
                                            <span class="form-check-input input-check">
                                                <span class="input-check__body">
                                                    <input class="input-check__input" type="checkbox" id="checkout-terms">
                                                    <span class="input-check__box"></span>
                                                    <svg class="input-check__icon" width="9px" height="7px">
                                                        <use xlink:href="images/sprite.svg#check-9x7"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                            <label class="form-check-label" for="checkout-terms">
                                                من <a target="_blank" href="terms-and-conditions.html">قوانین و مقررات</a> را خوانده و موافقم *
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-xl btn-block">ثبت سفارش</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h3 class="card-title">سفارش شما</h3>
                                <table class="checkout__totals">
                                    <thead class="checkout__totals-header">
                                        <tr>
                                            <th>محصول</th>
                                            <th>تعداد</th>
                                            <th>جمع کل</th>
                                        </tr>
                                    </thead>
                                    <tbody class="checkout__totals-products">
                                        {% for item in shop_cart %}
                                        <tr>
                                            <td>{{item.product}}</td>
                                            <td>{{item.qty}}</td>
                                            <td style="white-space: nowrap;">{{item.total_price | intcomma}} تومان</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tbody class="checkout__totals-subtotals">
                                        <tr>
                                            <th colspan="2">جمع جزء</th>
                                            <td style="white-space: nowrap;">{{total_price | intcomma}} تومان</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">حمل و نقل</th>
                                            <td style="white-space: nowrap;">{{delivery | intcomma}} تومان</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">مالیات</th>
                                            <td style="white-space: nowrap;">{{tax | intcomma}} تومان</td>
                                        </tr>
                                        {% if discount_percentage_applied > 0 %}
                                        <tr>
                                            <th colspan="2">
                                                <span style="font-weight: bold; color: #dc3545;">
                                                    تخفیف (<span style="color: #dc3545;">{{ discount_percentage_applied }}%</span>)
                                                </span>
                                            </th>
                                            <td style="white-space: nowrap;">
                                                <span style="font-weight: bold; color: #dc3545;">
                                                    - {{ discount_amount_applied | intcomma }} تومان
                                                </span>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                    <tfoot class="checkout__totals-footer">
                                        <tr>
                                            <th colspan="2">جمع کل نهایی</th>
                                            <td style="white-space: nowrap;">{{grand_total | intcomma}} تومان</td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <form action="{% url "orders:apply_coupon" order_id=order.id %}" method="post" style="display: flex; justify-content:center">
                                    {% csrf_token %}
                                    {{form_coupon}}
                                    <button type="submit" class="btn btn-primary">اعمال کد تخفیف</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}



{% comment %} 
 {% extends 'main_template.html' %}
{% load humanize %}
{% load render_partial %}

{% block titile %} فاکتور سفارش{% endblock titile %}

{% block content %}
<div class="site">
    <div class="site__body">
        <div class="page-header">
            <div class="page-header__container container">
                <div class="page-header__breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">خانه</a> /</li>
                            <li class="breadcrumb-item active" aria-current="page">پرداخت</li>
                        </ol>
                    </nav>
                </div>
                <div class="page-header__title">
                    <h1>پرداخت</h1>
                </div>
            </div>
        </div>

        <div class="checkout block">
            <div class="container">
                <div class="row">
                    {% if messages %}
                        <script>
                            document.addEventListener('DOMContentLoaded', function() {
                                {% for message in messages %}
                                    let messageType = 'success'; 
                                    {% if message.tags == 'error' %}
                                        messageType = 'error';
                                    {% elif message.tags == 'warning' %}
                                        messageType = 'error'; 
                                    {% elif message.tags == 'info' %}
                                        messageType = 'success'; 
                                    {% endif %}
                                    showToast("{{ message|escapejs }}", messageType);
                                {% endfor %}
                            });
                        </script>
                    {% endif %}
                    
                    <div class="col-12 col-lg-6 col-xl-7">
                        <div class="card mb-lg-0">
                            <div class="card-body">
                                <h3 class="card-title">جزئیات پرداخت</h3>
                                <form action="{% url "orders:checkout_order" order_id=order.id %}" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="checkout-first-name">نام</label>
                                            {{form.name}}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="checkout-last-name">نام خانوادگی</label>
                                            {{form.family}}
                                        </div>
                                    </div>

                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="checkout-email">آدرس ایمیل</label>
                                            {{form.email}}
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="checkout-phone">تلفن</label>
                                            {{form.phone_number}}
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="checkout-street-address">آدرس</label>
                                        {{form.address}}
                                    </div>

                                    <div class="card-divider"></div>
                                    
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="checkout-comment">توضیحات سفارش <span class="text-muted">(اختیاری)</span></label>
                                            {{form.description}}
                                        </div>
                                    </div>
                                    <div class="payment-methods">
                                        <ul class="payment-methods__list">
                                            <li class="payment-methods__item">
                                                <label class="payment-methods__item-header">
                                                    <span class="payment-methods__item-radio input-radio">
                                                        <span class="input-radio__body">
                                                            <input class="input-radio__input" name="checkout_payment_method" type="radio">
                                                        </span>
                                                    </span>
                                                    {{form.payment_type}}
                                                </label>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="checkout__agree form-group">
                                        <div class="form-check">
                                            <span class="form-check-input input-check">
                                                <span class="input-check__body">
                                                    <input class="input-check__input" type="checkbox" id="checkout-terms">
                                                    <span class="input-check__box"></span>
                                                    <svg class="input-check__icon" width="9px" height="7px">
                                                        <use xlink:href="images/sprite.svg#check-9x7"></use>
                                                    </svg>
                                                </span>
                                            </span>
                                            <label class="form-check-label" for="checkout-terms">
                                                من <a target="_blank" href="terms-and-conditions.html">قوانین و مقررات</a> را خوانده و موافقم *
                                            </label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-xl btn-block">ثبت سفارش</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-xl-5 mt-4 mt-lg-0">
                        <div class="card mb-0">
                            <div class="card-body">
                                <h3 class="card-title">سفارش شما</h3>
                                <table class="checkout__totals">
                                    <thead class="checkout__totals-header">
                                        <tr>
                                            <th>محصول</th>
                                            <th>تعداد</th>
                                            <th>جمع کل</th>
                                        </tr>
                                    </thead>
                                    <tbody class="checkout__totals-products">
                                        {% for item in shop_cart %}
                                        <tr>
                                            <td>{{item.product}}</td>
                                            <td>{{item.qty}}</td>
                                            <td style="white-space: nowrap;">{{item.total_price | intcomma}} تومان</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                    <tbody class="checkout__totals-subtotals">
                                        <tr>
                                            <th colspan="2">جمع جزء</th>
                                            <td style="white-space: nowrap;">{{total_price | intcomma}} تومان</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">حمل و نقل</th>
                                            <td style="white-space: nowrap;">{{delivery | intcomma}} تومان</td>
                                        </tr>
                                        <tr>
                                            <th colspan="2">مالیات</th>
                                            <td style="white-space: nowrap;">{{tax | intcomma}} تومان</td>
                                        </tr>
                                        {% if discount_percentage_applied > 0 %}
                                        <tr>
                                            <th colspan="2">
                                                <span style="font-weight: bold; color: #dc3545;">
                                                    تخفیف (<span style="color: #dc3545;">{{ discount_percentage_applied }}%</span>)
                                                </span>
                                            </th>
                                            <td style="white-space: nowrap;">
                                                <span style="font-weight: bold; color: #dc3545;">
                                                    - {{ discount_amount_applied | intcomma }} تومان
                                                </span>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    </tbody>
                                    <tfoot class="checkout__totals-footer">
                                        <tr>
                                            <th colspan="2">جمع کل نهایی</th>
                                            <td style="white-space: nowrap;">{{grand_total | intcomma}} تومان</td>
                                        </tr>
                                    </tfoot>
                                </table>

                                <form action="{% url "orders:apply_coupon" order_id=order.id %}" method="post" style="display: flex; justify-content:center">
                                    {% csrf_token %}
                                    {{form_coupon}}
                                    <button type="submit" class="btn btn-primary">اعمال کد تخفیف</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}  {% endcomment %}